    <footer>
    <%= content_tag :div, class: "roda-pe" do %>
    <div class="social">
            <div class="insta">
                <a href="https://www.instagram.com/c.foxgames99/"target= "blank">
                    <%= image_tag "instagram2.png", style: "width: 35px;" %>
                </a>
                <a href="https://contate.me/champion_list" target= "blank">
                    <%= image_tag "whatsapp.png", style: "width: 35px;" %>
                </a>
                <a href="https://discord.gg/dGc5snKaUB" target= "blank">
                    <%= image_tag "discord.png", style: "width: 35px;" %>
                </a>
            </div>
    </div>
    <%end%> 
    <hr>    
    <div class="footer1">
        <div class="logo-footer">
            <%= image_tag "Championlist4.png", style: "width: 350px;" %>
        </div>
        <div class="criadores">
            <p>Este site foi feito por: <a href="https://www.instagram.com/flpgald/" target= "blank"> Flpfox </a></p>
        </div>
    </div>
</footer>
