<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.cdnfonts.com/css/spacetype" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/july-01" rel="stylesheet">
<style>
    a{
        text-decoration: none;
    }
    * {
    padding: 0;
}
    @import url('https://fonts.cdnfonts.com/css/common-pixel');
        .classOne{
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #d4aa00;
    width: 1921px;
    height: 70px;
        }
        .Classtwo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
         }
         .Classtwo h1{
            text-transform: capitalize;
            font-family: monospace;
         }
         .Classtwo h2{
            font-family: monospace;
            margin-bottom: 5px;
         }
         .Classtwo h3{
            margin-top: 0px;
            color: #f49d19;
            font-family: monospace;
         }
        .Classtwo button{
                color: white;
                background-color: #11BFE8;
                font-size: 20px;
                font-family: Helvetica;
                border-color: none;
                height: 60px;
                width: 300px;
                border-radius: 5px;
                box-shadow: none;
            }
        .button:hover button{
            background-color:  #2b84dd;
        }
        .body{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            font-family: monospace;
            color: #003d7b;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: auto;
        }
        .body-2{
            height: 200px;
            width: 555px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        .notices{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 555px;
        }
        .button{
        background-color: #0C2D4D;
        height: 50px;
        width: 100px;
        font-size: 20px;
        font-family: Helvetica;
        }
        .footer{
        background: #000;
        color: hsla(0, 0%, 100%, .7);
        position: relative;
        }
        .roda-pe{
            margin-top: 20px;
        background-color: #d4aa00;
        -moz-column-gap: 20px;
        column-gap: 20px;
        display: flex;
        justify-content: center;
        padding: 32px;
        row-gap: 20px;
        }
        .footer1{
        background: #d4aa00;
        align-items: center;
        -moz-column-gap: 20px;
        column-gap: 20px;
        display: flex;
        height: 530px;
        margin-left: auto;
        margin-right: auto;
        max-width: 3000px;
        padding-left: 40px;
        padding-right: 40px;
        transition: .2s ease-in-out;
        flex-direction: column;
        flex-wrap: nowrap;
        }
        .hr1{
        color: #d4aa00;
        }
        .content{
        height: 100%;
        }
        .cadastrar{
        border: 2px solid #d4aa00; /* Define a borda com 1 pixel de largura e cor cinza */
        padding: 40px; /* Adiciona um preenchimento interno de 20 pixels */
        padding-top: 0px;
        border-radius: 15px;
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        color: #0C2D4D;
        font-family: Roboto ;
        height: auto;
        width: 425px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        }
        .login{
        border: 2px solid #FFA500; /* Define a borda com 1 pixel de largura e cor cinza */
        padding: 40px; /* Adiciona um preenchimento interno de 20 pixels */
        padding-top: 30px;
        border-radius: 15px;
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        color: #0C2D4D;
        font-family: Roboto ;
        height: 225px;
        width: 425px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        }
        .login h1{
        margin-top: 0px;
        font-size: 25px;
        font-family: Helvetica;
        }
        .register{
        background-color:#0C2D4D;
        height: 50px;
        width: 400px;
        font-size: 20px;
        font-family: system-ui;
        border-radius: 10px;
        }
        .row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 15px;
        align-items: center;
    }
    .row1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 15px;
        align-items: center;
    }
    .row2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 15px;
        align-items: center;
    }
    .row3{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 15px;
        align-items: center;
    }
        label{
        font-size: 20px;
        }
        input{
        border-color: #11BFE8;
        height: 25px;
        width: 300px;
        border-radius: 5px;
        box-shadow: none;
        }
        .input1 input{
        border-color: #11BFE8;
        height: 25px;
        width: 26px;
        border-radius: 5px;
        box-shadow: none;
        }
        .input1{
            display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
        }
        .cadastrar h1{
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 28px;
        }
        .cadastrar hr{
        border: 1px solid;
        border-color:#FFA500;
        width: 119%;
        left: -40px;
        position: relative;
        }
        .new_user{
        font-family: system-ui;
        }
        .nome_usuario{
        display: flex;
        font-family: system-ui;
        flex-direction: row;
        align-items: center;
        box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
        width: 144px;
        border-radius: 10px;
        cursor: pointer;
        }
        .nome_usuario a{
            text-decoration: none;
        }
        .foto_usuario{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .foto_usuario img{
            height: 45px;
            width: 45px;
            border-radius: 50px;
            background: black;
        }
        .foto_de_perfil1 img{
            width: 140px;
            height: 140px;
            border-radius: 70px;
            background: black;
        }
        .foto_usuario2{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .foto_usuario2 img{
            height: 45px;
            border-radius: 50px;
            background: black;
        }
        .perfil{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .dropdown-content {
            position: absolute;
            background-color: #d4aa00; 
            height: 220px; 
            min-width: 160px;
            box-shadow: #d4aa00 ;
            z-index: 1;
            left: 1675px; /* Ajuste conforme necessário */
            margin-top: 0px; /* Ajuste conforme necessário */
            max-height: 0;
            overflow: hidden;
            border-radius: 10px;
            opacity: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease;
            top: 8%;
        }
        
        .dropdown-content.show {
            max-height: 260px; /* Define a altura máxima quando visível */
            opacity: 1; /* Visível quando a classe .show está aplicada */
        }
        
        .dropdown-content a, .dropdown-content button {
            color: rgb(255, 255, 255);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content button {
            border-radius: 10px;
            border: none;
            background: none;
            font-family: Arial, Helvetica, sans-serif;
            width: auto;
        }
        
        .dropdown-content hr {
            cursor: none;
        }
        
        .dropbtn {
            background-color: none;
            color: white;
            padding: 16px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        
        .dropbtn:hover {
            background-color: none;
            color: rgb(255, 255, 255);
        }
        .dropdown i{
            color: white;
            cursor: pointer;
        }
     
        .alert{
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: system-ui;
        color: red;
        background-color: #feefd0;
        border-color: #fde9bd
        }
        .alert li{
            list-style-type: none;
        }
        .header2{
        width: 350px;
        display: flex;
        font-family: system-ui;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        }
        .header2 a{
            text-decoration: none;
            color: #dbdbdb;
            font-weight: 500;
        }
        .header2 a:hover{
            color: rgb(255, 255, 255);
        }
        .header2 img{
            transition: transform 0.3s ease;
        }
        .header2 img:hover{
            transform: scale(1.1);
        }
        .header2 img{
            width: 78px;
        }
        .header{
        width: 204px;
        height: 55px;
        font-family: system-ui;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #d4aa00;
        margin-right: 20px;
        }
        .header img{
            transition: transform 0.3s ease;
        }
        .header img:hover{
            transform: scale(1.1);
        }
        .button2{
        color: white;
        background-color:#18aac0;
        border: none;
        height: 50px;
        width: 150px;
        font-size: 20px;
        font-family: Helvetica;
        border-radius: 25px;
        }
        .button2:hover{
            color: white;
            background-color:  #1799ad;
            cursor: pointer;
        }
        .Visualizar_campeonatos{
            font-family: monospace;
        display: flex;
        width: 555px;
        flex-direction: column;
        align-items: center;
        }
        .flash {
        background-color: #ff0000;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        }
          
          .flash.success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
          }
          
          .flash.error {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
          }
        .form{
        margin-bottom: 10px;
        }
        .pubg{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .nome{
            margin-bottom: 20px;
        }
        .endereco{
            display: flex;
    flex-direction: column;
    align-items: center;
        }
        .selecao{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .selecao h3{
        margin-bottom: 0px;
        margin-top: 0px;
        }
        .selecao select{
        margin-left: 10px;
        width:30%;
        height:30px;
        }
        .data{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }
        .data1{
        margin-bottom: 20px;
        }
        .tabs{
            margin-top: 100px;
            width: 800px;
            height: auto;
            padding-bottom: 10px;
            margin-bottom: 20px;
            background: rgb(255, 255, 255);
            box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
            position: relative;
            border-radius: 12px;
        }
        .tab-content {
        display: none;
        }
        .tab-content.active {
        display: block;
        }
        .tabs button{
        width: 125px;
        height: 35px;
        border-color: #d4aa00;
        background: #F8D89D;
        position: relative;
        border-radius: 12px;
        }
        .tabs button:hover {
        background-color: #d4aa00; /* Altere a cor de fundo no hover */
        }
        .tab-content {
            display: none;
            padding: 10px;
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }
        .tab-content.active {
            height: 425px;
            align-items: center;
            width: 400px;
        }
        .tabela{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .tab-content.active h1{
            font-size: 50px;
            margin-bottom: 50px;
        }
        .data2{
            margin-bottom: 30px;
        }
        #location_input_container {
            display: none;
        }
        .image img{
            background: rgba(255, 255, 255, 0.768);
            box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.2);
            position:relative;
            border-radius: 12px;
        }
        .descricao textarea{
        height: 120px;
        width: 380px;
        }
        .regras textarea{
        height: 100px;
        width: 400px;
        }
        .adicionais textarea{
        height: 100px;
        width: 400px;
        }
        .campeonato{
        border: 2px solid #d4aa00;
        padding: 40px;
        padding-top: 0px;
        border-radius: 15px;
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: column;
        color: #0C2D4D;
        font-family: Roboto;
        height: auto;
        width: 425px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 30px;
        text-align: center;
        }
        .campeonato1{
            margin-bottom: 5px;
            border: 2px solid #d4aa00;
            padding: 40px;
            padding-top: 0px;
            border-radius: 40px;
            color: #0C2D4D;
            font-family: Roboto;
            height: 40px;
            width: 220px;
            margin-left: 780px;
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s ease;
            }
            .campeonato1:hover{
                color: #d4aa00;
                background-color: #ffdd9f;
                transform: scale(1.2);
            }
            .campeonato1 p{
                margin-top: 40px;
            }
            .lista{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-transform: capitalize;
}
            .lista h2{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .lista2{
                font-family: Arial, Helvetica, sans-serif;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        .campeonato hr{
        border: 1px solid;
        border-color:#d4aa00;
        width: 100%;
        left: 0px;
        position: relative;
        margin-top: 0px;
        }
        .social{
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        }
        .insta{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 130px;
        justify-content: space-between;
        }
        .zap img{
            transition: transform 0.3s ease;
        }
        .zap:hover img{
            transform: scale(1.2); 
        }
        .insta1 img{
            transition: transform 0.3s ease;
        }
        .insta1:hover img{
            transform: scale(1.2); 
        }
        .discord img{
            transition: transform 0.3s ease;
        }
        .discord:hover img{
            transform: scale(1.2); 
        }
        .criadores{
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 2000px;
            background-color:transparent;
            font-family: monospace;
             font-size: 20px;
        }
        .criadores a{
            color: white;
            text-decoration: none;
            font-family: 'SpaceType', sans-serif;
        }
        .Usuario{
            width: 555px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
                }
        .button3{
            display: flex;
            justify-content: center;
        }
        .info2{
            width: 545.33px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 200px;
            margin-right: 200px;
        }
        .info2 h1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 475px;
            height: auto;
            border-radius: 10px;
            color: #d4aa00;
            background-color: #ffdd9f;
        }
        .info2 h3{
            text-transform: uppercase;
        }
        .info3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .data1{
            display: flex;
            flex-direction: row;        
        }
        .data1 h2{
            margin-left: 25px;
        }
        .inicio{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
        }
        .final{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
        }
        .typo{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 400px;
        }
        .jogo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .visao{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .time1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .times{
            width: 545.33px;
                font-size: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                background: #ffdd9f;
                box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
                position: relative;
                border-radius: 12px;
                height: auto;
        }
        .campeonatos{
                margin-top: 20px;
                width: 545.33px;
                font-size: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                background: #ffdd9f;
                box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
                position: relative;
                border-radius: 12px;
                height: auto;
        }
        .campeonatos a{
            text-decoration: none;
        }
        .partida{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .premiacao{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .body3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .list_team{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .list_team h1{
            color: #003d7b;
        }
        .list_team h2{
            color: #003d7b;
        }
        .imagem1 img{
            width: 195px;
        }
        .rede_social1{
            display: flex;
            flex-direction: row;
            width: 330px;
            justify-content: space-between;
            align-items: center;
        }
        .rede_social2{
            display: flex;
            flex-direction: row;
            width: 396px;
            justify-content: space-between;
            align-items: center;
        }
        .sair{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            height: 35px;
        }
        .sair button{
            color: white;
            position: relative;
            width: 199px;
            height: 35px;
        }
        .perfil1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            height: 35px;
        }
        .perfil1 button{
            color: white;
            position: relative;
            width: 199px;
            height: 35px;
        }
        .torneios{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            height: 35px;
        }
        .torneios button{
            color: white;
            position: relative;
            width: 199px;
            height: 35px;
        }
        .torneios button:hover{
            color:#ffffff;
            background-color: #908112;
            cursor: pointer;
        }
        .visual{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            height: 35px;
        }
        .visual button{
            color: white;
            position: relative;
            width: 199px;
            height: 35px;
        }
        .visual button:hover{
            color:#ffffff;
            background-color: #908112;
            cursor: pointer;
        }
        .sair button:hover{
            color:#ffffff;
            background-color: #908112;
            cursor: pointer;
        }
        .perfil1 button:hover{
            color:#ffffff;
            background-color: #908112;
            cursor: pointer;
        }
        .banner{
            width: 1921px;
            height: 500px;
            background: linear-gradient(90deg, #ccba2e, #2eafcc); /* Gradiente de duas cores */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 36px;
            font-family: Arial, sans-serif;
        }
        .banner h1{
            font-size: 25px;
        }
        .banner h2{
            font-size: 25px;
        }
        .banner1{
            width: 1921px;
            height: 500px;
            background: linear-gradient(90deg, #2eafcc,#ccba2e); /* Gradiente de duas cores */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 36px;
            font-family: Arial, sans-serif;
        }
        .banner1 h1{
            font-size: 25px;
        }
        .banner1 h2{
            font-size: 25px;
        }
        .banner2{
            width: 1921px;
            height: 500px;
            background: linear-gradient(90deg, #34dbd0, #ccba2e); /* Gradiente de duas cores */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 36px;
            font-family: Arial, sans-serif;
        }
        .banner2 h1{
            font-size: 25px;
        }
        .banner2 h2{
            font-size: 25px;
        }
        .perfil a{
            color: #d4aa00;
            font-size: 30px;
            font-family: monospace;
        }
        .perfil a:hover{
            color: #d4aa00;
        }
        .video-container {
            width: 1100px;
            height: 700px;
          }
          .video-container iframe {
            width: 100%;
            height: 100%;
          }
          .video1{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
            flex-direction: column;
          }
          .video1 h1{
            color: #003d7b;
          }
    </style>
    <header>
        <%= content_tag :div, class: "classOne" do %>
        <%= content_tag :div, class: "header2" do %>
            <% if current_user %>
                <a href="/home">
                        <%= image_tag "championlist.png" %>
                    </a>
                    <a href="/champion"> Campeonatos </a>
                    <a href="/team/"> Times </a>
            <%else%>
                <a href="/home">
                    <%= image_tag "championlist.png" %>
                </a>
                <a href="/champion"> Campeonatos </a>
                <a href="/team/"> Times </a>
                <a href="/login"> Login </a>
            <%end%>
        <% end %>
            <%= content_tag :div, class: "header" do %>
                <% if current_user %>
                <div class="dropdown">
                    <div id="dropdown-toggle" class="nome_usuario">
                            <div class="foto_usuario">
                                <% if current_user.image.attached? %>
                                    <%= image_tag url_for(current_user.image) %>
                                <% end %>
                            </div>
                            <div class="dropbtn">
                                <%= current_user.name%>
                            </div>
                                <div id="dropdown-menu" class="dropdown-content">
                                    <div class="perfil1">
                                        <%= button_to "Perfil", perfil_path, method: :get, form_class: "logout-form "%>
                                    </div>
                                    <hr>
                                    <div class="torneios">
                                        <%= button_to "Torneios", champion_index_path, method: :get, form_class: "logout-form "%>
                                    </div>
                                    <div class="torneios">
                                        <%= button_to "Times", team_index_path, method: :get, form_class: "logout-form "%>
                                    </div>
                                    <div class="visual">
                                        <%= button_to "Visualizar partidas", visual_index_path, method: :get, form_class: "logout-form "%>
                                    </div>
                                    <hr>
                                    <div class="sair">
                                        <%= button_to "Sair", sign_out_path, method: :delete, form_class: "logout-form "%>
                                    </div>
                                </div>
                            </div>
                <% else %>
                    <%= button_to "Criar conta", "/register", method: :get, class: "button2" %>
                <% end %>
            <%end%>
        <% end %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const toggle = document.getElementById("dropdown-toggle");
                const menu = document.getElementById("dropdown-menu");
            
                let menuVisible = false;
            
                toggle.addEventListener("click", function() {
                    // Alterna a visibilidade do menu
                    if (menuVisible) {
                        menu.classList.remove("show");
                        menuVisible = false;
                    } else {
                        menu.classList.add("show");
                        menuVisible = true;
                    }
                });
            
                // Adiciona um evento de clique ao documento para fechar o menu
                // Apenas se o menu estiver visível e o clique não for no ícone ou no menu
                document.addEventListener("click", function(event) {
                    if (menuVisible && !toggle.contains(event.target) && !menu.contains(event.target)) {
                        menu.classList.remove("show");
                        menuVisible = false;
                    }
                });
            });
        </script>
    </header>
