   <style>
            .content{
                height: 100%;
            }
            .cadastrar{
                border: 2px solid #FFA500; /* Define a borda com 1 pixel de largura e cor cinza */
                padding: 40px; /* Adiciona um preenchimento interno de 20 pixels */
                padding-top: 0px;
                border-radius: 15px;
                display: flex;
                align-items: stretch;
                flex-wrap: nowrap;
                flex-direction: column;
                color: #0C2D4D;
                font-family: Roboto ;
                height: auto;
                width: 425px;
                margin: auto;
                margin-top: 30px;
                text-align: center;
            }
            .register{
                color: white;
                background-color:#0C2D4D;
                height: 50px;
                width: 400px;
                font-size: 20px;
                font-family: Helvetica; 
                border-radius: 10px;
            }
            .row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                margin-top: 15px;
                align-items: center;}
            label{
                font-size: 20px;
                }
            input{
                border-color: #11BFE8;
                height: 25px;
                width: 300px;
                border-radius: 5px;
                box-shadow: none;
            }   
            .cadastrar h1{
                display: flex;
                justify-content: flex-start;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 28px;
            }
            .cadastrar hr{
                border: 1px solid;
                border-color:#FFA500;
                width: 119%;
                left: -40px;    
                position: relative;
            }
            #error_explanation div {
                list-style-type: none;
              }
        </style>
        <script>
              // Script para alternar a visibilidade da senha
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("senha").addEventListener("click", function() {
            var senhaInput = document.getElementById("senha2");
            if (senhaInput.type === "password") {
                senhaInput.type = "text";
            } else {
                senhaInput.type = "password";
            }
        });
    });

    // Script para pré-visualizar a imagem selecionada
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('profile_image_input').addEventListener('change', function(event) {
            const input = event.target;
            const preview = document.getElementById('profile_image_preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('image_input').addEventListener('change', function(event) {
            const input = event.target;
            const preview = document.getElementById('image_preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            }
        });
    });
        </script>
            <div class= "content">
            <%= content_tag :div, class: "cadastrar" do %>
                <h1> Quero me cadastrar </h1>
                <hr>
                <% if @user.errors.any? %>
                    <div id="error_explanation", class="alert">
                        <ul>
                            <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div> 
                <% end %>
                <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
        <% end %>
               <%= form_with model: @user, url: users_path, html: { multipart: true }, method: "post" do |form| %>
               <div class="row">
                <%= form.file_field :image, id: 'image_input' %>
              </div>
              <%= image_tag '', id: 'image_preview', style: 'max-width: 200px; display: none;' %>
                    <%= content_tag :div, class: "row1" do %> 
                        <%= form.label "nome:" %>
                        <%= form.text_field :name, pattern: "[A-Za-z\s']+" %>
                    <% end %>
                   <%= content_tag :div, class: "row2" do %> 
                        <%= form.label "Sobrenome:" %>
                        <%= form.text_field :middle_name, pattern: "[A-Za-z\s']+" %>
                    <% end %>
                    <%= content_tag :div, class: "row2" do %> 
                        <%= form.label "Email:" %>
                        <%= form.email_field :email %>  
                    <% end %>
                    <%= content_tag :div, class: "row" do %> 
                        <%= form.label "Senha:" %>
                        <%= form.password_field :password, pattern: "[A-Za-z 0-9 s@.]+", id: "senha2" %>
                    <% end %>
                    <%= content_tag :div, class: "input1" do %> 
                        <input type="checkbox" id="senha" name="exibir_senha" value="1">
                        <%= form.label :exibir_senha, "Exibir senha", for: "senha" %>
                    <%end%>
                    <%= content_tag :div, class: "row3" do %> 
                        <%= form.submit "Criar conta", class: "button2" %>
                    <%end%>
                    <%= content_tag :div, class: "new_user" do %>
                    <p>Já tem uma conta? <%= link_to "Faça login", login_path %></p>
                     <%end%>
                <% end %>
            <% end %>
</div>