Bem vindo a nossa pagina inicial
<!DOCTYPE html>
<html>
    <head>
        <title> ChampionList </title>
        <style>
        .body{
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .classOne{
            display: flex;
            justify-content: center;
        }
        .button{
            background-color: green;
            height: 100px;
            width: 200px;
            font-size: 20px;
            font-family: Helvetica;
        }
        .roda-pe{
            color: green;
        }
    </style>
    </head>
    <body>
    <header>
    <%= image_tag "" %>
    </header>
    <%= content_tag :div, class: "body" do %>
    <h1> Olá mundo </h1>
    <p> esta vai ser a pagina de login<p>
     <%= content_tag :div, class: "classOne" do %>
    <%= button_to "Faça login", nil, class: "button" %>
    <% end %> 
    <% end %> 
    </body>
    <footer>
         <%= content_tag :div, class: "roda-pe" do %>
        <h2> Aqui sera o roda pé </h2>
        <%end%>
    </footer>
</html>