<!DOCTYPE html>
<html>
    <head>
        <title> champion </title>
        <style>
            .button4{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 1700px;
                margin-top: 10px;
                      }
                      .button5{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        width: 1700px;
                        margin-top: 10px;
                        align-items: flex-end;
                              }
            .info{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                height: auto;
                width: 1750px;
                flex-wrap: nowrap;
                align-content: center;
                align-items: flex-start;
                justify-content: space-between;
            }
            .detalhes{
                width: 545.33px;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: flex-start;
            
            }
            .imagem img{
                margin-top: 20px;
                width: 100px;
            }
            .modal {
                display: none; /* Escondido por padrão */
                position: fixed; 
                z-index: 1; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%; 
                overflow: auto; 
                background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
              }
              
              .modal-content {
                background-color: #fff;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Largura do modal */
              }
              
              .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
              }
              
              .close:hover,
              .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
        </style>
    </head>
<body>
    <%= render 'shared/header' %>
    <% flash.each do |key, message| %>
  <div class="alert alert-<%= key %>">
    <%= message %>
  </div>
<% end %>
    <%= content_tag :div, class: "Classtwo" do %>
    <div class="info">
        <div class="detalhes">
            <h2>Descrição:</h2>
            <h3> <%= @champion.description %></h3>
            <h2>Regras:</h2>
            <h3> <%= @champion.rules %></h3>
            <div class="premiacao"> 
                <h2>Premiação:</h2>
                <h3><%= @champion.premiation %></h3>
            </div>
        </div>
            <div class="info2">
                <div class="imagem">
                 <% if @champion.image.attached? %>
                    <%= image_tag url_for(@champion.image) %>
                <% end %>
                </div>                
                <h1><%= @champion.name %></h1>
                <div class="data1">
                <div class="inicio">
                    <h2>Data de Início:</h2>
                    <h3> <%= @champion.start_date %></h3>
                </div>
                <div class="final">
                    <h2>Data de Término:</h2>
                    <h3><%= @champion.end_date %></h3>
                </div>
                </div>
                <div class="typo">
                    <div class="jogo">
                            <h2>Tipo de Jogo:</h2>
                            <h3><%= @champion.game_type %></h3>
                        </div>
                    <div class="time1">
                        <h2>Tipo de Time: </h2>
                        <h3><%= @champion.team %></h3>
                    </div>
                </div>
                <div class="visao">
                    <h2>Tipo de Visão: </h2>
                    <h3><%= @champion.vision %></h3>
                </div>
                <div class="info3">
                    <div class="partida">
                        <h2>Quantidade de Partidas: </h2>
                        <h3><%= @champion.match_total %></h3>
                    </div>
                </div>
            </div>
            <div class="times">
                <ul>
                    <% if @champion.teams %>
                        <% @champion.teams.each do |team| %>  <!-- Supondo que `@championship` seja o campeonato atual -->
                        <li><%= link_to team.name, team_path(team), class: "sem-sublinha" %></li>
                    <%end%>
                  <% end %>
                </ul>
            </div>
    </div>
    <% if @champion&.user == current_user %>
      <div class="button5">
          <button id="register-button">Cadastrar seu time</button>
      </div>
      <div id="teamModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Selecione seu time</h2>
            <%= form_with url: champions_vs_team_path, method: :post do |form| %>
            <%= form.hidden_field :champion_id, value: @champion.id %>
              <label for="team">Escolha um time:</label>
              <select id="team-select" name="team_id">
                <% Team.all.each do |team| %>
                  <option value="<%= team.id %>"><%= team.name %></option>
                <% end %>
              </select>
              <button type="submit">Cadastrar</button>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
    <div class="button4">
            <% if current_user == @champion.user %>
                <%= button_to "Editar Campeonato", champion_edit_path(@champion),method: :get, class: "button2" %>
            <%end%>
    </div>  
    <%= render "shared/footer"%>    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("teamModal");
            var btn = document.getElementById("register-button");
            var span = document.getElementsByClassName("close")[0];
          
            btn.onclick = function() {
              modal.style.display = "block";
            }
          
            span.onclick = function() {
              modal.style.display = "none";
            }
          
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
          });
    </script>
</body>


</html>