<!DOCTYPE html>
<html>
    <head>
        <title> Champions </title>
        <style>
            .imagem img{
                width: 250px;   
            }
            .button4{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 1700px;
                margin-top: 10px;
                      }
        </style>
    </head>
<body>
    <%= render 'shared/header' %>
    <%= content_tag :div, class: "Classtwo" do %>
    <div class="button4">
            <%= button_to "Criar mais campeonatos", "/champions/new", method: :get, class: "button2"%>
            <%= button_to "Campeonatos criados", "/champions/", method: :get, class: "button2"%>
    </div>
        <div class="imagem">
            <%= image_tag @champions.image.url(:medium) %>
        </div>
        <div class="Info"></div>
            <h1><%= @champions.name %></h1>
                <h3>Data de Início: <%= @champions.start_date %></h3>
                <h3>Data de Término: <%= @champions.end_date %></h3>
                <h3>Tipo de Jogo: <%= @champions.game_type %></h3>
                <h3>Tipo de Visão: <%= @champions.vision %></h3>
                <h3>Tipo de Time: <%= @champions.team %></h3>
                <h3>Quantidade de Partidas: <%= @champions.match_total %></h3>
                <h3>Premiação: <%= @champions.premiation %></h3>          
    <%end%>
    <div class="button4">
        <% if current_user == @champions.user %>
            <%= button_to "Editar Campeonato", champions_edit_path(@champions),method: :get, class: "button2" %>
        <%end%>
    </div>  
    <%= render "shared/footer"%>    
</body>


</html>